body{
	margin: 0px;
	background-image: url("assets/sunset1.jpg");
	width: auto;
	image-rendering: crisp-edges;
	image-rendering: auto;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	overflow-x: hidden;
	text-align: center;
}
html {
	font-family: 'Lato', sans-serif;
	overflow-x: hidden;
	background-color: #eff0ff;
}
#footer {
	margin: 0px;
	background-color:#eff0ff;
	padding-top: 5px;
	padding-bottom: 25px;
	
}
p a:link {
	color: #7c7c7c;
}
#line hr {
	width: 100%;
	margin: 0px;
}

hr {
	width: 62%;
}
strong {
	font-weight: 400;
}
p {
	text-align: center;
	font-weight: 100;
}

#row12 {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row;
   flex-direction: row;
   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
   width: 100%;
}

#col4 {
	width: 33.33%;
	height: auto;
}
#col8  {
	width: 55%;
}

#col6 {
	width: 50%;
	height: auto;
	min-width: 50px;
	padding-bottom: 75px;
	
}


h1 {
	font-weight: 200;
	text-align: center;
	font-size: 4em;
	overflow-x: hidden;
	padding-top: 75px;
	padding-bottom: 75px;
	width: 100%;
	background-color: rgba(226, 224, 255, 0.6);
}
h2 {
	font-weight: 200;
	font-size: 2em;
	text-align: center;
}
h3 {
	font-weight: 400;
	text-align: center;
}

nav {
	
	font-size: 0.85em;
}

nav a {
	padding-left: 15px;
	padding-right: 15px;
}

ul {
    list-style-type: none;
    overflow: hidden;
    width: 100%;
    padding: 25px;
    text-align: center;
	background-color:#eff0ff;
    margin-bottom: 0px;
}

li {
    display: inline;
    padding: 25px;
    font-weight: 400;
    color: white;
    margin-bottom: 25px;
    
}


a:link, a:visited {
    display: inline;
    font-weight: 300;
    font-size: 110%;
    text-align: center;
    text-decoration: none;
    color: black;
}
#body {
	margin: 0px;
	background-color:#eff0ff;
	padding-left: 15%;
	padding-right: 15%;
	padding-bottom: 60px;
	padding-top: 50px;
	margin-bottom: -16px;
}
#bodycontent {
	background-color:#eff0ff;
	margin: 0px;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="subject"],
.form input[type="url"],
.form textarea,
.form select 
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
    float: left;
}

.form input[type="text"]:focus,
.form input[type="date"]:focus,
.form input[type="datetime"]:focus,
.form input[type="email"]:focus,
.form input[type="number"]:focus,
.form input[type="search"]:focus,
.form input[type="subject"]:focus,
.form input[type="url"]:focus,
.form textarea:focus,
.form select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
    float: left;
}

.form input[type="submit"],
.form input[type="button"]{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    float: left;
}

.form input[type="submit"]:hover,
.form input[type="button"]:hover{
    background: #2EBC99;
}

